body {
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #1e293b;
  }
}

main {
  display: flex;
  justify-content: center;
  gap: 10px;
}
